.sign-in-form, .sign-up-form {
  width: 360px;
  //border: 3px solid #40513B;
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: #EDF1D6;
  border-radius: 35px;

  h2{
    color:#609966
  }

  input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background-color: hsla(0, 0%, 0%, 0.098);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    
  }
  
  .sign-up-link{
    text-decoration: none;
    color: #609966;
  }
  p{
  }
}

