.main-page-wrapper{
  box-sizing: border-box;
  display: flex;
  background-color:  #f3f6fd;
  width: 100%;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 40px;
}