.project-body{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 93vh;
  background-color: #ffdc25;
  align-items: center;

  
  .project-slider{
    display:flex;
    height: 80%;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;

    .new-project-btn{
      display: inline-block;
      text-align: center;
      width: 150px;
      font-size: 20px;
      background-color: #ffdc25;
      transition: all 0.3s ease-in-out;
    }

    .new-project-btn:hover{
      background-color: #f9f2d1;
    }
  

    &::-webkit-scrollbar {
      // height: 1rem;
      width: 0.5rem;
      border-radius: 1rem;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background: black;
    }
  
    &::-webkit-scrollbar-track {
      border-radius: 1rem;
      background: #ffdc25;
    }
  }

}
