.chatting-form-wrapper{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  margin: 10px;
  border-radius: 32px;

  .chatting-header{
    height: 8%;
  }
  .chatting-body {
    height: 92%;
    display: flex;
    padding: 10px;
  }  

  .chatting{
    background-color: rgb(201,201, 175);
    border-radius: 32px;
    width: 100%;
    margin: 15px;
  }
}




