.chatting-form-wrapper{
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 400px;
  background-color: #fff;
  z-index: 3;

  .chatting-header{
    height: 8%;
  }

  .chatting-body {
    height: 92%;
    display: flex;
    padding: 10px;
  }  

  .chatting{
    background-color: rgb(250, 237, 249);
    border-radius: 32px;
    width: 100%;
    margin: 15px;
  }
}