.chatting-form-wrapper{
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 400px;
  background-color: #fff;
  z-index: 3;
}
.chatting-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  font-size: 30px;
}

.chatting-member{
  display: flex;
  height: 5%;
  align-items: center;
}

.chatting-body {
  height: 87%;
  display: flex;
  background-color: #daecf5;
}  
