.sign-in-form, .sign-up-form {
  width: 350px;
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
  padding-top: 30px;
  font-family: "LINESeedKR-Rg";
  
  .sign-in-input{
    appearance: none;
    outline: none;
    background: none;
    box-shadow: none;
    border: none;
    background-color: #ffd0d5;
    width: 420px;
    height: 2em;
    line-height: 2em;
    border-bottom: 2px solid #171313;
    font-size: 28px;
    margin-top: 6px;
  }

  .sign-in-btn-container{
    display: flex;
    justify-content: center;
    width: 420px;
    padding: auto;
    margin-top: 25px;
  }

  h2{
    font-size: 30px;
    color:#171313;
  }

  p{
    color: black;
  }
}

.landing-btn{
  width: 210px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  color: black;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.landing-btn:hover{
  background-color: aliceblue;
}

.landing-btn-divider{
  width: 5px;
}