.sign-in-form, .sign-up-form {
  width: 350px;
  // border: 3px solid #40513B;
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  // background-color: #EDF1D6;

  h2{
    color:#F6416C;
  }

  input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background-color: hsla(0, 0%, 0%, 0.098);
    width: 90%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    border-bottom: 1px solid white;
  }
  
  .sign-up-link{
    text-decoration: none;
    color: #F6416C
  }

  p{
    color: black;
  }
}

