.slider{
  width:100%;
  overflow-y: auto;
  height:93vh;
  z-index: 1;
}

.slider::-webkit-scrollbar {
  display: none;
}

.first-object{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffd0d5;
  justify-content: center;
  
  .scroll{
    margin-bottom: 20px;
  }
}

.sign-in-wrapper{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
  border-radius: 35px;
  justify-content:space-between;
  padding-left: 170px;

  .sign-in-left{
    width: 50%;
    min-width: 900px;
    height: 100%;
    background-color: #ffd0d5;
    padding: 30px;
    padding-top: 200px;
 
    .introduction{
      height: fit-content;
      margin: 0;
      font-family: 'LINESeedKR-Th';
      font-size: 100px;
      color: #171313;
    }
  }

  .sign-in-right{
    width: 50%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    background-color: #ffd0d5; 

    .sign-in-earth{
      background-image: url('../../assets/images/earth.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: 600px;
      height: 600px;
      transition: all ease 2s;
    }

    .sign-in-earth:hover{
      transform: rotate(-160deg);
      margin-right: 700px;
    }
  }
}

.divder{
  width: 100%;
  height: 5px;
  background-color: gray;
}