.place-card {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  cursor: pointer;
  color: black;
  width: 600px;
  height: 200px;
  border-radius: 5px;
  user-select: none;
  border: 3px solid black;
  background: rgb(238, 230, 230);
  z-index: 3;
  margin: 20px;
  padding: 20px;
  .place-card-title-city-wrapper{
    
  }
  .place-card-thumbnail{
    width: 180px;
    height: 180px;
    background-color: white;
    background-size: cover;
    margin-top: auto;
    margin-bottom: auto;
  }
}