.plan-task {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  color: black;
  width: 100px;
  height: 60px;
  border-radius: 5px;
  user-select: none;
  border: 3px solid black;
  background: rgb(238, 230, 230);
  z-index: 3;
  margin: 20px;
  padding: 20px;

  .place-card-title-city-wrapper{
    
  }

  .place-card-thumbnail-close-btn{
    display: flex;

    .place-card-thumbnail{
      width: 180px;
      height: 180px;
      background-color: white;
      background-size: cover;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 0px;
    }
  
    .place-card-close-btn{
      cursor: pointer;
      width: fit-content;
      height: fit-content;
      position: relative;
      right: -5px;
      top: -5px;
    }

  }

  
}