
.result-wrapper{
  position: absolute;
  background-color: white;
  height: 200px;
  min-height: 200px;
  width: 100%;
  min-width: 1000px;
  bottom: 0;
}

.result-img-list-close-btn{
  position: absolute;
  left: calc(100% - 30px);
  bottom: calc(100% + 470px);
  font-size: 18px;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  z-index: 3;
  cursor: pointer;
  color: white;
}

.result-img-list-prev-btn{
  position: absolute;
  height: 40px;
  width: 30px;
  left: 10px;
  bottom: calc(100% + 230px);
  font-size: 15px;
  background-color: white;
  z-index: 2;
}
.result-img-list-next-btn{
  position: absolute;
  height: 40px;
  width: 30px;
  bottom: calc(100% + 230px);
  left: calc(100% - 40px);
  font-size: 15px;
  background-color: white;
  z-index: 2;
}

.result-img-list{
  padding-left: calc(50% - 300px);
  padding-right: calc(50% - 300px);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba( 1, 1, 1, 0.5 );
  width: max-content;
  height: calc(100vh - 7vh);
  bottom: 0;
  overflow: hidden;
  transform: translateX();
  transition: all ease 1s;
  
}   

@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.review-wrapper{
  height: calc(100vh - 7vh);
  background-color: rgba( 1, 1, 1, 0.5 );
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.result-img-list-item{
  margin: 0 100px 0 100px;
  width: 400px;
  min-width: 400px;
  height: 400px;
  background-size: cover;
  z-index: 3;
  animation:smoothAppear 0.2s ease-in-out 0s 1 normal forwards;
}
  

.result-container{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.result-img-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.result-img{
  width: 180px;
  max-width: 180px;
  height: 180px;
  background-size: cover;
  color:white;
}


.result-name-address-rating-wrapper{
height: 100%;
width: 65%;
}
.result-name{
  font-size: 28px;
  margin: 10px;
}

.result-address{
  font-size: 15px;
  margin: 10px;
}

.result-rating{
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
}

.result-time-start-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
    
    
.result-add-btn-wrapper{
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-add-btn{
  width: 100px;
  height: 60px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  color: black;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background-color: #ffd0d5;
}

.result-add-btn:hover{
  background-color: rgb(252, 246, 246);
}
    
.react-time-picker-container{
  width:fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.react-datepicker__input-container{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: auto;
  height: 40px;
}

.react-time-picker{
  width: 10rem;
  text-align: center;
}

.represent-review{
  cursor: pointer;
  margin: 10px;
}