.user-card{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 500px;
  height: 60px;
  font-size: 18px;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 10px;
}

  .user-card-invite-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #ffd0d5;
    background: rgb(18, 18, 18);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
  }

  .user-card-invite-btn:hover{
    background-color: #4b4b4b;
  }
  