.side-bar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  min-width: 80px;
  z-index: 3;
  background-color: #fff2f3;
  margin-right: calc(100% - 480px);
  
  .side-bar-list{
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .side-bar-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
  }
}