.project-form-wrapper{
  margin: 0 15px 0 15px;
  scroll-snap-align: start;
}
.project-form-link:hover{
  filter: brightness(50%);
  transition:all 0.2s ease;
}
.project-form-link{
  background-color: whitesmoke;
  width: 350px;
  height: 350px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-image: url('../../assets/images/train_railway_forest.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}   

.project-form-upside{
  display: flex;
  border-radius: 32px 32px 0 0;
  justify-content: space-between;
  height: 50%;
}

.project-place{
  margin: 7px;
  font-size: 38px;
  width: fit-content;
  height: fit-content;
  background-color: black;
  padding: 10px;
  color: rgb(245, 245, 245);
}
      
.project-delete-btn{
  
  align-items: center;
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 6px;
  background: none;
  box-shadow: none;
  border: none;
  color: white;
  z-index: 4;
  cursor: pointer;
}

    
.project-form-downside{
  height: 50%;
  color: rgb(245, 245, 245);
  padding: 10px;
  border-radius: 0 0 32px 32px;
  align-items: end;
  justify-content: space-between;
  display: flex;
}

.project-form-member{
  display: flex;
}

.project-date{
  color:rgb(221, 221, 221);
}
.project-member{
  color:rgb(221, 221, 221);
}
  
.project-title-container{
  height: fit-content;
}

.project-title{
  margin: 10px 0 15px 5px;
  font-size: 32px;
  padding-left: 5px;
}