.project-form-wrapper{
  box-sizing: border-box;
  border-radius: 32px;
  margin: 10px;
  border: 3px solid black;
  background-color: whitesmoke;
  scroll-snap-align: start;

  .project-form-link{
    width: 600px;
    height: 200px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
    .project-form-upside{
      border-radius: 32px 32px 0 0;
      padding: 10px;
      display: flex;
      justify-content:space-between;
      align-items: center;
      height: 50%;

      .project-delete-btn{
        width: 50px;
        height: 30px;
        margin-bottom: 40px;
      }
    }
    .project-form-downside{
      height: 50%;
      padding: 10px;
      border-radius: 0 0 32px 32px;
      align-items: center;
      justify-content: space-between;
      display: flex;

      .project-form-member{
        display: flex;
      }
    }
  }
}