.sign-in-form {
  width: 360px;
  border: 3px solid rgb(255,151,0);
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background-color: #ffffff19;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    
  }
  
  .sign-up-link{
    text-decoration: none;
    color: rgb(255,151,0);
  }
  p{
  }
}

